{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Bike Rental {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudfla re.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>

<!-- faire img logo pour navbar -->
{% include 'navbar.html' %}


{% block content%}
{% endblock%}


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>