<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Place</title>
</head>
<body>
    <h1>Hello Flask</h1>

    <form action="{{url_for('home')}}" method="post">
        Name: <input type="text"><br>
        Price: <input type="int"><br>
        Category: <br>
                <input type="radio" id="male" name="gender" value="male">
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label for="other">Other</label>

    </form>
</body>
</html>