{% extends 'base.html' %}
{% load static %}

{% block content %}

    {{ block.super }}

    {% include 'navbar.html' %}

    <h1>Welcome Home!</h1>
    
    <img src="{% static 'images/giraffe.png' %}" width=200 height=200 alt="">
    
    <h1>Student List</h1>
    {% for student in students %}
        <p>{{student.first_name}} {{student.last_name}}</p>
    {% endfor %}

    <h1>Pets List</h1>
    {% for pets in pets %}
        <p>{{pets.name}} - {{pets.breed}},  Owned By: {{pets.owner}}</p>
    {% endfor %}

{% endblock %}