{%extends 'home.html'%}


{% block content %}

<!-- todo : ADD BORDER IF WHITE -->

<div class="circle" style="background-color: {{color}}; {% if color == "white" %} border: 1px solid black; {% endif %} "></div>
<p>The colors is: {{color}}{% if color == "white" %} --> You might not see it {% endif %}</p>

<a href="/">Home</a>


{% endblock content %}

<!--<script>-->
<!--    document.getElementById('circle').style.border="1px border black"-->
<!--</script>-->
<!-- {# {% if  %}{% endif %} #} add between class -->