<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}
    <meta charset="UTF-8">
    <title>{%block title%} DI_Color {%endblock title%}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock head%}
</head>
<body>

{%block content%}
<h1>Welcome</h1>

<h3>What shape do you want ?</h3>

<a href="{{url_for('square')}}">Square</a>
<a href="{{url_for('triangle')}}">Triangle</a>
<a href="{{url_for('circle')}}">Circle</a>


{%endblock content%}


</body>
</html>