<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DI-Flask</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Welcome to my Daily-Challenge</h1>
    <h3>What do you want ?</h3>

    <p>The <a href="lesson">lesson</a> !</p>
    <p>OR</p>
    <p>The <a href="exe">exercises</a> !</p>
</body>
</html>
